/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #e2cece;
  padding: 15px;
  height: 100%;
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar-item:hover {
  background-color: #ddd;
}

/* Dropdown Icon */
.dropdown-icon {
  margin-left: 10px;
  font-size: 12px;
}

/* Dropdown styles */
.dropdown-content {
  display: none;
  padding-left: 20px; /* Indentation for dropdown items */
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #555;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown when the class is applied */
.show {
  display: block;
}
